.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.min-height{
    min-height: 75%;
}
.start{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
    
}